body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  text-align: center;
}

.container {
  margin-top: 150px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 12px;
  width: 250px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

.card {
  background: #1e293b;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 15px;
}

.bot {
  background: #334155;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
}
